.rdw-dropdown-custom {
  width: max-content !important;
}

.rwd-popup-custom {
  position: absolute !important;
  bottom: 35px !important;
  top: auto !important;
  left: -115px !important;
  width: 210px !important;
  height: unset !important;
  max-height: 300px !important;
  overflow: auto !important;
}

.public-DraftStyleDefault-block {
  margin: 0.25rem 0;
}