.rdw-colorpicker-modal-options {
  overflow: auto !important;
}

.rwd-dropdown-custom {
  width: max-content !important;
  bottom: 0.25rem;
}

.rwd-popup-custom {
  position: absolute !important;
  bottom: -100% !important;
  top: auto !important;
  left: -110px !important;
  width: 210px !important;
  height: unset !important;
  max-height: 300px !important;
  overflow: auto !important;
}

.public-DraftStyleDefault-block {
  margin: 0;
}
.rdw-editor-toolbar {
  [class*="wrapper"] {
    border: none;
    margin-bottom: 0;
  }
}

.DraftEditor-root {
  width: 100%;
}